<% layout('layouts/boilerplate.ejs') %>
<div class="container">
  
<form
action="/campgrounds/<%=camp.id %>?_method=put"
method="POST"
novalidate
class="needs-validation"
enctype="multipart/form-data"
>
<div class="row mt-4">
  <div class="col-8  offset-2 col-md-6 offset-md-3">
    <h2 class="text-center">Edit Campground</h2>
    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input
        class="form-control"
        type="text"
        name="campground[title]"
        id="title"
        value="<%=camp.title %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="location">Location</label>
      <input
        class="form-control"
        type="text"
        name="campground[location]"
        id="location"
        value="<%=camp.location %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="price">Campground Price</label>
      <div class="input-group">
        <span class="input-group-text" id="price-label">$</span>
        <input
          id="price"
          type="text"
          class="form-control"
          placeholder="0.00"
          aria-label="price"
          aria-describedby="price-label"
          name="campground[price]"
          value="<%=camp.price %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        name="campground[description]"
        required
      >
<%=camp.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="image" name="campground[image]"  multiple>
        <label class="custom-file-label" for="image">Add more Image(s)...</label>
      </div>
    </div>

    <div class="mb-3">
      <% for (let i = 0; i < camp.image.length; i++) { %>

        <div>
          <img src="<%=camp.image[i].thumbnail %>" class="img-thumbnail" alt="">
          <br>
          <label for="image-<%=i%>">Delete?</label>
          <div class="form-check-inline">
            <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=camp.image[i].filename%>">
          </div>
        </div>
        <% } %>  
      <br>
    </div>

    <div class="mb-3">
      <button class="btn btn-success">Update Campground</button>
    </div>
    <div class="mb-3">
      <a href="/campgrounds/<%=camp.id %>">Back to Campground</a>
    </div>
  </div>
</div>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<script>
  (function () {
    "use strict";
    bsCustomFileInput.init();

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
